<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.curfew"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">

        <service android:name="com.curfew.CurfewService" />

        <activity
            android:name="com.curfew.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.curfew.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.curfew.SetCurfewActivity"
            android:label="@string/title_activity_set_curfew" />
        <activity
            android:name="com.curfew.UserActivity"
            android:label="@string/title_activity_user" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDzjsMCDhDDfxp5SqJ546L99S5PNAMTrMc" />

        <activity
            android:name="com.curfew.ProfileSettingsActivity"
            android:label="@string/title_activity_profile_settings" >
        </activity>
        <activity
            android:name="com.curfew.ImageUpload"
            android:label="@string/title_activity_image_upload" >
        </activity>
    </application>

</manifest>
